### Requesting data from RAPID API for Amazon India

In [1]:
import requests

url = "https://amazon-product-price-data.p.rapidapi.com/product"

querystring = {"asins":"B005YQZ1KE,B074R8RQQ2,B0BLW25MB7,B0CD94BLW8","locale":"US"}

headers = {
	"X-RapidAPI-Key": "c86d19dba2msh0b9382a7f87c6a3p1f2116jsn57da44b7b1b0",
	"X-RapidAPI-Host": "amazon-product-price-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

[{'asin': 'B0CD94BLW8', 'product_name': 'SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unlocked Android Smartphone, Long Battery Life, Premium Processor, Tough Gorilla Glass Display, Hi-Res 50MP Camera, US Version, 2023, Purple', 'current_price': 559.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41FATCWP-yL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B005YQZ1KE', 'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black', 'current_price': 107.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B0BLW25MB7', 'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey', 'current_price': 151.0, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B074R8RQQ2', 'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)', 'current_price': 6.59, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg', 'locale': 'US', 'currency_symbol': '$'}]

In [2]:
data = response.json()
data

[{'asin': 'B0CD94BLW8',
  'product_name': 'SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unlocked Android Smartphone, Long Battery Life, Premium Processor, Tough Gorilla Glass Display, Hi-Res 50MP Camera, US Version, 2023, Purple',
  'current_price': 559.99,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41FATCWP-yL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B005YQZ1KE',
  'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black',
  'current_price': 107.99,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B0BLW25MB7',
  'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
  'current_price': 151.0,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B074R8RQQ2',
  'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)',
  'current_price': 6.59,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg',
  'locale': 'US',
  'currency_symbol': '$'}]

In [3]:
len(data)

4

In [4]:
for i in data:
    print(i)

{'asin': 'B0CD94BLW8', 'product_name': 'SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unlocked Android Smartphone, Long Battery Life, Premium Processor, Tough Gorilla Glass Display, Hi-Res 50MP Camera, US Version, 2023, Purple', 'current_price': 559.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41FATCWP-yL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B005YQZ1KE', 'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black', 'current_price': 107.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B0BLW25MB7', 'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey', 'current_price': 151.0, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B074R8RQQ2', 'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)', 'current_price': 6.59, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg', 'locale': 'US', 'currency_symbol': '$'}

In [5]:
data[0]['asin']

'B0CD94BLW8'

In [6]:
data[0]['product_name']

'SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unlocked Android Smartphone, Long Battery Life, Premium Processor, Tough Gorilla Glass Display, Hi-Res 50MP Camera, US Version, 2023, Purple'

In [7]:
data[0]['current_price']

559.99

In [8]:
asin = []
product_name = []
price = []
for i in data:
    asin.append(i['asin'])
    product_name.append(i['product_name'])
    price.append(i['current_price'])

In [9]:
asin

['B0CD94BLW8', 'B005YQZ1KE', 'B0BLW25MB7', 'B074R8RQQ2']

In [10]:
product_name

['SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unlocked Android Smartphone, Long Battery Life, Premium Processor, Tough Gorilla Glass Display, Hi-Res 50MP Camera, US Version, 2023, Purple',
 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black',
 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)']

In [11]:
price

[559.99, 107.99, 151.0, 6.59]

### Convert above in dataframe

In [12]:
dct = {'asin':asin,
       'product_name':product_name,
       'price':price}

In [13]:
import pandas as pd
df = pd.DataFrame(dct)
df

         asin                                       product_name   price
0  B0CD94BLW8  SAMSUNG Galaxy S23 FE Cell Phone, 256GB, Unloc...  559.99
1  B005YQZ1KE  T-fal Initiatives Nonstick Cookware Set 18 Pie...  107.99
2  B0BLW25MB7  Lenovo IdeaPad 1 14 Laptop, 14.0\" HD Display,...  151.00
3  B074R8RQQ2  Maxracy 2 Set Peeler Silicone Easy Roll Tube U...    6.59

### Stock market API : AAPL

In [14]:
import requests

url = "https://quotient.p.rapidapi.com/equity/daily"

querystring = {"symbol":"AAPL","from":"2020-01-01","to":"2023-12-01","adjust":"false"}

headers = {
	"X-RapidAPI-Key": "c86d19dba2msh0b9382a7f87c6a3p1f2116jsn57da44b7b1b0",
	"X-RapidAPI-Host": "quotient.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

[{'Date': '2023-12-01', 'Open': 190.33, 'High': 191.56, 'Low': 189.23, 'Close': 191.24, 'Volume': 45704800}, {'Date': '2023-11-30', 'Open': 189.84, 'High': 190.32, 'Low': 188.19, 'Close': 189.95, 'Volume': 48794300}, {'Date': '2023-11-29', 'Open': 190.9, 'High': 192.09, 'Low': 188.97, 'Close': 189.37, 'Volume': 43014200}, {'Date': '2023-11-28', 'Open': 189.78, 'High': 191.08, 'Low': 189.4, 'Close': 190.4, 'Volume': 38414700}, {'Date': '2023-11-27', 'Open': 189.92, 'High': 190.67, 'Low': 188.9, 'Close': 189.79, 'Volume': 40552600}, {'Date': '2023-11-24', 'Open': 190.87, 'High': 190.9, 'Low': 189.25, 'Close': 189.97, 'Volume': 24048300}, {'Date': '2023-11-22', 'Open': 191.49, 'High': 192.93, 'Low': 190.83, 'Close': 191.31, 'Volume': 39630000}, {'Date': '2023-11-21', 'Open': 191.41, 'High': 191.52, 'Low': 189.74, 'Close': 190.64, 'Volume': 38134400}, {'Date': '2023-11-20', 'Open': 189.89, 'High': 191.91, 'Low': 189.88, 'Close': 191.45, 'Volume': 46538600}, {'Date': '2023-11-17', 'Open': 190.25, 'High': 190.38, 'Low': 188.57, 'Close': 189.69, 'Volume': 50941400}, {'Date': '2023-11-16', 'Open': 189.57, 'High': 190.96, 'Low': 188.65, 'Close': 189.71, 'Volume': 54412900}, {'Date': '2023-11-15', 'Open': 187.85, 'High': 189.5, 'Low': 187.78, 'Close': 188.01, 'Volume': 53790500}, {'Date': '2023-11-14', 'Open': 187.7, 'High': 188.11, 'Low': 186.3, 'Close': 187.44, 'Volume': 60108300}, {'Date': '2023-11-13', 'Open': 185.82, 'High': 186.03, 'Low': 184.21, 'Close': 184.8, 'Volume': 43627500}, {'Date': '2023-11-10', 'Open': 183.97, 'High': 186.57, 'Low': 183.53, 'Close': 186.4, 'Volume': 66177900}, {'Date': '2023-11-09', 'Open': 182.96, 'High': 184.12, 'Low': 181.81, 'Close': 182.41, 'Volume': 53763500}, {'Date': '2023-11-08', 'Open': 182.35, 'High': 183.45, 'Low': 181.59, 'Close': 182.89, 'Volume': 49340200}, {'Date': '2023-11-07', 'Open': 179.18, 'High': 182.44, 'Low': 178.97, 'Close': 181.82, 'Volume': 70529900}, {'Date': '2023-11-06', 'Open': 176.38, 'High': 179.43, 'Low': 176.21, 'Close': 179.23, 'Volume': 63841300}, {'Date': '2023-11-03', 'Open': 174.24, 'High': 176.82, 'Low': 173.35, 'Close': 176.65, 'Volume': 79829200}, {'Date': '2023-11-02', 'Open': 175.52, 'High': 177.78, 'Low': 175.46, 'Close': 177.57, 'Volume': 77334700}, {'Date': '2023-11-01', 'Open': 171.0, 'High': 174.23, 'Low': 170.12, 'Close': 173.97, 'Volume': 56934900}, {'Date': '2023-10-31', 'Open': 169.35, 'High': 170.9, 'Low': 167.9, 'Close': 170.77, 'Volume': 44846000}, {'Date': '2023-10-30', 'Open': 169.02, 'High': 171.17, 'Low': 168.87, 'Close': 170.29, 'Volume': 51130900}, {'Date': '2023-10-27', 'Open': 166.91, 'High': 168.96, 'Low': 166.83, 'Close': 168.22, 'Volume': 58499100}, {'Date': '2023-10-26', 'Open': 170.37, 'High': 171.38, 'Low': 165.67, 'Close': 166.89, 'Volume': 70625200}, {'Date': '2023-10-25', 'Open': 171.88, 'High': 173.06, 'Low': 170.65, 'Close': 171.1, 'Volume': 57156900}, {'Date': '2023-10-24', 'Open': 173.05, 'High': 173.67, 'Low': 171.45, 'Close': 173.44, 'Volume': 43816600}, {'Date': '2023-10-23', 'Open': 170.91, 'High': 174.01, 'Low': 169.93, 'Close': 173.0, 'Volume': 55980100}, {'Date': '2023-10-20', 'Open': 175.31, 'High': 175.42, 'Low': 172.64, 'Close': 172.88, 'Volume': 64244000}, {'Date': '2023-10-19', 'Open': 176.04, 'High': 177.84, 'Low': 175.19, 'Close': 175.46, 'Volume': 59302800}, {'Date': '2023-10-18', 'Open': 175.58, 'High': 177.58, 'Low': 175.11, 'Close': 175.84, 'Volume': 54764300}, {'Date': '2023-10-17', 'Open': 176.65, 'High': 178.42, 'Low': 174.8, 'Close': 177.15, 'Volume': 57549300}, {'Date': '2023-10-16', 'Open': 176.75, 'High': 179.08, 'Low': 176.51, 'Close': 178.72, 'Volume': 52516900}, {'Date': '2023-10-13', 'Open': 181.42, 'High': 181.93, 'Low': 178.14, 'Close': 178.85, 'Volume': 51456000}, {'Date': '2023-10-12', 'Open': 180.07, 'High': 182.34, 'Low': 179.04, 'Close': 180.71, 'Volume': 56743100}, {'Date': '2023-10-11', 'Open': 178.2, 'High': 179.85, 'Low': 177.6, 'Close': 179.8, 'Volume': 47551100}, {'Date': '2023-10-10', 'Open': 178.1, 'High': 179.72, 'Low': 177.95, 'Close': 178.39, 'Volume': 43698000}, {'Date': '2023-10-09', 'Open': 176.81, 'High': 179.05, 'Low': 175.8, 'Close': 178.99, 'Volume': 42390700}, {'Date': '2023-10-06', 'Open': 173.8, 'High': 177.99, 'Low': 173.18, 'Close': 177.49, 'Volume': 57266600}, {'Date': '2023-10-05', 'Open': 173.79, 'High': 175.45, 'Low': 172.68, 'Close': 174.91, 'Volume': 48527900}, {'Date': '2023-10-04', 'Open': 171.09, 'High': 174.21, 'Low': 170.97, 'Close': 173.66, 'Volume': 53020200}, {'Date': '2023-10-03', 'Open': 172.26, 'High': 173.63, 'Low': 170.82, 'Close': 172.4, 'Volume': 49594600}, {'Date': '2023-10-02', 'Open': 171.22, 'High': 174.3, 'Low': 170.93, 'Close': 173.75, 'Volume': 52164500}, {'Date': '2023-09-29', 'Open': 172.02, 'High': 173.07, 'Low': 170.34, 'Close': 171.21, 'Volume': 51861000}, {'Date': '2023-09-28', 'Open': 169.34, 'High': 172.03, 'Low': 167.62, 'Close': 170.69, 'Volume': 56294400}, {'Date': '2023-09-27', 'Open': 172.62, 'High': 173.04, 'Low': 169.05, 'Close': 170.43, 'Volume': 66921800}, {'Date': '2023-09-26', 'Open': 174.82, 'High': 175.2, 'Low': 171.66, 'Close': 171.96, 'Volume': 64588900}, {'Date': '2023-09-25', 'Open': 174.2, 'High': 176.97, 'Low': 174.15, 'Close': 176.08, 'Volume': 46172700}, {'Date': '2023-09-22', 'Open': 174.67, 'High': 177.08, 'Low': 174.05, 'Close': 174.79, 'Volume': 56725300}, {'message': 'Upgrade your subscription to MEGA plan to get all remaining data and unlimited access.'}]

In [15]:
data2 = response.json()
len(data2)

51

### Yfinance api

In [16]:
%pip install yfinance

Requirement already satisfied: yfinance in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (0.2.33)
Requirement already satisfied: pandas>=1.3.0 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: numpy>=1.16.5 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (1.26.2)
Requirement already satisfied: requests>=2.31 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\deep learning 2_4 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

### Restart and run all cells

In [17]:
import yfinance as yf 
df2 = yf.download('AAPL', period='1y', interval='1d')
df2

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-09,142.339996,145.570007,140.899994,142.160004,141.369812,76097000
2022-12-12,142.699997,144.500000,141.059998,144.490005,143.686859,70462700
2022-12-13,149.500000,149.970001,144.240005,145.470001,144.661423,93886200
2022-12-14,145.350006,146.660004,141.160004,143.210007,142.413971,82291200
2022-12-15,141.110001,141.800003,136.029999,136.500000,135.741272,98931900
...,...,...,...,...,...,...
2023-12-04,189.979996,190.050003,187.449997,189.429993,189.429993,43389500
2023-12-05,190.210007,194.399994,190.179993,193.419998,193.419998,66628400
2023-12-06,194.449997,194.759995,192.110001,192.320007,192.320007,41089700
2023-12-07,193.630005,195.000000,193.589996,194.270004,194.270004,47477700
2023-12-08,194.199997,195.990005,193.669998,195.710007,195.710007,53377300

In [25]:
df3 =  yf.download('AAPL', period='5y', interval='1wk')
df3

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-10,41.250000,43.142502,40.832500,41.369999,39.707378,870150800
2018-12-17,41.362499,42.087502,37.407501,37.682499,36.168076,1150777200
2018-12-24,37.037498,39.630001,36.647499,39.057499,37.487812,764640800
2018-12-31,39.632500,39.840000,35.500000,37.064999,35.575390,887850000
2019-01-07,37.174999,38.632500,36.474998,38.072498,36.542393,814824400
...,...,...,...,...,...,...
2023-11-06,176.380005,186.570007,176.210007,186.399994,186.154739,303608500
2023-11-13,185.820007,190.960007,184.210007,189.690002,189.690002,262862000
2023-11-20,189.889999,192.929993,189.250000,189.970001,189.970001,148305600
2023-11-27,189.919998,192.089996,188.190002,191.240005,191.240005,216455900
2023-12-04,189.979996,195.990005,187.449997,195.710007,195.710007,301640487

Help on function wrapper in module yfinance.utils:

wrapper(*args, **kwargs)